@import '~styles/variables';

.dropdownToggle {
  background-color: $gray-400 !important;
  border-color: $gray-400 !important;

  &:hover, &:focus {
    outline: none;
    box-shadow: none !important;
  }

  &:after {
    vertical-align: middle !important;
    color: $black;
  }
}

.countryContent {
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.countryFlag {
  vertical-align: middle;
}

.countryName {
  vertical-align: middle;
  text-transform: capitalize;
  margin-left: 5px;
}