@import '~styles/variables';

.wrapper {
  background-color: $blue-violet;
  text-align: center;
  padding: 20px 15px;
}

.button {
  min-width: 152px;
  margin-left: 5px;

  &:first-of-type {
    margin-left: 0;
  }
}