@import '~styles/variables';

.wrapper {
  background-color: transparent;
  border: none;
  border-radius: 0.6rem;
  transition: $transition-base;
  color: $white;

  &:hover, &:focus {
    outline: none;
  }

  &:hover, &:active {
    background-color: $royal-purple;
  }
}

.container {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  background-color: $gray-400;
  padding: 14px;
  color: #000;
  border-radius: 30px;
  height: 50px;
  width: 50px;
  margin-bottom: 12px;
}

.text {
  color: $gray-400;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}