@import '~styles/variables';

$border-radius: 1rem;

.wrapper {
  :global(.modal-content) {
    border-radius: $border-radius;
  }
}

.header {
  border-bottom: none !important;
  text-transform: uppercase;
}

.closeBtn {
  border-radius: $border-radius;
  background-color: $gray-400;
  padding: 3.5px 10px;
  border: none;
  color: $black;

  &:hover, &:focus {
    outline: none;
  }
}