@import '~styles/variables';

.wrapper {
  background-color: $white;
  text-align: center;
  padding: 20px 15px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 1000px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $collapse-point) {
    flex-direction: column;
    width: 100%;
  }
}

.wallet {
  flex-grow: 1;
  padding: 0.5rem;

  &Content {
    border-radius: $border-radius;
    border: 1px solid $gray-400;
    padding: 10px;
    position: relative;
  }

  &Balance {
    white-space: nowrap;
    font-size: 40px;
    text-align: right;
    position: relative;
    font-weight: 600;
    color: $gray-700;
    margin-bottom: 0;
    margin-top: 15px;
    z-index: 10;
  }

  &Code {
    text-align: left;
    margin-bottom: 5px;
    color: $gray-500;
    position: relative;
    z-index: 10;
  }

  &Symbol {
    color: $gray-200;
    text-align: left;
    position: absolute;
    font-weight: bold;
    font-size: 5rem;
    line-height: 4rem;
    left: 10px;
    bottom: 10px;
    z-index: 1;
  }
}