@import '~styles/variables';

.wrapper {
  background-color: $blue-violet;
  height: $navigation-height;

  @media screen and (max-width: $collapse-point) {
    height: $navigation-height-sm;
    box-shadow: none;
  }
}

.toggler {
  border-radius: 0 !important;
  padding: 0 !important;

  &:hover, &:focus {
    outline: none;
  }

  &:before,
  &:after,
  :global(.navbar-toggler-icon) {
    background-color: $white;
    display: block;
    content: " ";
    height: 3px;
    width: 22px;
    border-radius: 3px;
  }

  :global(.navbar-toggler-icon) {
    margin: 5px 0;
  }
}

.brand {
  height: 60px;
  max-height: 100%;
  padding: 10px !important;
  margin-right: 0 !important;

  @media screen and (max-width: $collapse-point) {
    height: 50px;
  }

  // .brandIcon
  &Icon {
    height: 100%;
    display: none;

    @media screen and (max-width: $collapse-point) {
      display: block;
    }
  }

  // .brandFull
  &Full {
    height: 100%;

    @media screen and (max-width: $collapse-point) {
      display: none;
    }
  }
}