@import '~styles/variables';

.content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.pageTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: $shamrock;
}

.receipt {
  background-color: $blue-violet;
  color: $white;
  padding: 1rem 1.5rem;
  border-radius: 1rem;

  // .receiptTitle
  &Title {
    text-align: center;
    letter-spacing: 3px;
  }
}


