@import '~styles/variables';

.wrapper {
  min-width: 175px;

  @media screen and (max-width: $collapse-point) {
    min-width: unset;
  }
}

.countryContent {
  display: inline-block;
  vertical-align: middle;

  @media screen and (max-width: $collapse-point) {
    text-align: center;
  }
}

.countryFlag {
  margin-right: 5px;
  vertical-align: middle;

  @media screen and (max-width: $collapse-point) {
    margin-right: 0;
  }
}

.countryName {
  text-transform: capitalize;
  vertical-align: middle;

  @media screen and (max-width: $collapse-point) {
    display: none;
  }
}

.toggler {
  background-color: $white !important;
  color: #000 !important;

  &::after {
    vertical-align: middle !important;

  }
}

.dropdownMenu {
  @media screen and (max-width: $collapse-point) {
    min-width: unset !important;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
}

.dropdownItem {
  @media screen and (max-width: $collapse-point) {
    padding: 0.6rem 1.2rem 0.9rem 1.2rem !important;
    background-color: $white !important;
    margin-bottom: 5px !important;
    border-radius: $border-radius;
    border: 1px solid $gray-700 !important;
  }
}
