@import '~styles/variables';

.content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.pageTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: $red;
}

.errorMessage {
  color: $black;
  text-align: center;
  margin-bottom: 0;
}