@import '~styles/variables';

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.code404 {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: $shamrock;
}

.message {
  font-weight: 300;
  text-align: center;
}

.backToHome {
  text-align: center;
}