@import '~styles/variables';

.wrapper {
  z-index: $zindex-loading;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($blue-violet, .8);
  background: linear-gradient(155deg, rgba($blue-violet, .8) 0%, rgba($royal-purple, .8) 100%);
  transition: $transition-base;
}

.logo {
  max-width: 90%;
  width: 100px;
  position: relative;
  z-index: 10;
}

.loading {
  position: absolute;
  z-index: 20;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top: 3px solid $blue-violet;
  width: 180px;
  height: 180px;
  -webkit-animation: spin 0.6s linear infinite; /* Safari */
  animation: spin 0.6s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }